body, html{
  margin: 0;
  padding: 0;
  background: $white;
  height: 100vh;
}

* > * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

button{
  background: none;
  outline: none;
  border: 1px solid transparent;
}